@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


/* common css */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}


.container{
    margin: 10px 70px 0 70px;

    display: flex;
    align-items: center;
    flex-direction: column;
}


.btn{

    padding: 15px 40px;
    background-color: #E02C6D;
    border: 1px solid whitesmoke;
    border-radius: 20px;
}

span{
    color: whitesmoke;
}

.title{
    margin-left: 70px;
    
    
}

/* Banner Section Start  */

.banners{  
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-left h1{
    font-size: 52px;
    font-weight: 700;
    
}
.banner-left p,.btn{
   
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
}
.banner-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: transform 10s;
    
}

.banner-right:hover{
    transform: rotate(360deg);
}

.banners .banner-right img{
    width: 400px;
    }

/* Banner Section End  */





/* Popular Collection Section */


.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;    
}

.product{
    
    width: 300px;
    height: 476px;
    padding:30px 30px ;
    box-shadow: 10px 10px 40px rgba(192, 196, 199, 0.705);
    border-radius: 10px;
       
}


.product-price{
    font-size: 24px;
    
}

.fa-star{
    font-size: 12px;
}
.fa-star.fill{
    color: #FFC014;
}
.fa-star.emty{
    color: #E5E5E5;
}

/* button arrow section */


.arrow{
    margin: 10px 70px 0 70px;

}

.arrow a{
    text-decoration: none;
    font-size: 29px;
    font-weight: 700;
    color: #E02C6D;
}

.buttom-arrow{
    text-align: right;   
}



/* extra section */

/* contact section*/

.contact-title{

    font-size: 50px;
}



.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.contact-left img{
    width: 90%;
}

.contact-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-field{
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    
    
    border: 1px solid #5e14d4dc;
}



/* footer section  */


footer{

    height: 200px;
    background-color: #0A0826;
    padding: 40px;
    margin-top: 80px;
   
}



footer h1{

    color: whitesmoke;
    text-align: center;
    font-size: 24px;
    font-weight: 700;

    
}

footer p{

    color: whitesmoke;
    text-align: center;
    font-size: 14px;
}

footer a{
    font-size: 32px;
    color: whitesmoke;


}



/* responsive css */


/* Tablet Responsive */

@media (max-width:1200px) {
    .products{         
        grid-template-columns: repeat(2,1fr);      
    }    
}


/* Mobile Responsive */

@media (max-width:750px) {



        main{
            margin:0;    
        }


        .title{
            font-size: 30px;
            text-align: center;    
        }
        


        /* Banner Section */
        .banners{        
        grid-template-columns: 1fr;
        height: fit-content;
        
         }

        .banner-left{
        align-items:center;
        }


        .banner-left h1{
            font-size: 40px;
        }


        .banner-left p{

            font-size: 16px;
            font-weight: 500;
        }

        .banners .banner-left h1{
            font-size: 20px;
            font-weight: 600;
            
        }

        .banners .banner-right img{
            width:60%;
            }

       


        .banner-right{
            order: 1;
            
        }
        .banner-left{
            order: 2;
            
            text-align: center;
        }



        /* Product Section */


        .products{
  
            grid-template-columns: repeat(1,1fr);
            
        }

        .product{
            width: 330px;
            padding:20px 0px 20px 20px;
            box-shadow: 10px 10px 40px rgba(192, 196, 199, 0.705);
            border-radius: 10px;
              
        }

        .products .product-img img{
            width: 90%;
        }


        /* Contact Section */


        .contact{


            grid-template-columns: 1fr;

        }

        .contact-left{
            order: 1;
            
        }
        .contact-right{
            order: 2;
        }
            
        

        

    
}